<!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Nosotros</h3>
          <p>Somos una familia paranaense que lleva adelante una empresa dedicada a la venta de materiales eléctricos.
          Pasamos por distintos lugares antes de llegar a ocupar el espacio en el que estamos actualmente. Así es como en 1990 surge Electro Río
          Sin duda nuestro camino no fue fácil, y hoy podemos darnos a conocer como asesores y proveedores importantes en el rubro.
          En los años que tenemos de trayectoria, hemos logrado desarrollarnos activamente en el mercado local y alrededores, lo que garantiza nuestra forma de trabajo eficaz y honesto.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              Electro Río es sinónimo de empresa familiar. En este emprendimiento los integrantes están abocados a sus tareas específicas, pero siempre teniendo en cuenta la seriedad y firmeza que nos caracteriza.
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><a href="https://www.mercadolibre.com.ar/publicaciones/listado?filters=CHANNEL_ONLY_MARKETPLACE|CHANNEL_NO_PROXIMITY_AND_NO_MP_MERCHANTS&page=1&sort=DEFAULT" target="_blank"><i class="fa fa-shopping-bag"></i></a></div>
              <h4 class="title">Compras online</h4>
              <p class="description">Hacemos envíos a todo el pais</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><a href="mailto:electrorioparana@gmail.com"><i class="fa fa-calculator"></i></a></div>
              <h4 class="title">Presupuestos sin costo</h4>
              <p class="description">Escribinos por pedidos o asesoramiento</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><a href="https://goo.gl/maps/3x1RoNnbSNDJasqs9" target="_blank"><i class="fa fa-wrench"></i></a></div>
              <h4 class="title">Armado y reparación</h4>
              <p class="description">Hacemos trabajos personalizados, buscanos!</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="../assets/img/materiales-nosotros.png" class="img-fluid" alt="">
          </div>
        </div>

        <!--<div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="img/about-extra-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h4>
            <p>
              Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.
            </p>
            <p>
              Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis deserunt veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum eum.
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="img/about-extra-2.svg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.</h4>
            <p>
             Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis. Voluptas nemo qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus corporis autem at blanditiis beatae incidunt sunt. 
            </p>
            <p>
              Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse molestias. Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.
            </p>
            <p>
              Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut fuga mollitia exercitationem nam accusantium provident quia.
            </p>
          </div>
          
        </div>
      
      </div>--><!-- #about -->

  
