<!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg">
      <header class="section-header">
        <h3>Nuestros clientes</h3>
      </header>
      <div class="container">


        <div class="row justify-content-center">
          <div class="col-lg-12">

            <owl-carousel-o>
              <ng-template carouselSlide>
                <div class="testimonial-item">
                  <img src="../assets/img/testimonial-1.jpg" alt="Ivan Niello, Programador" />
                  <h3>Ivan Niello</h3>
                  <h4>Programador</h4>
                  <p>
                    Siempre tienen la mejor atención y los mejores precios
                  </p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="testimonial-item">
                  <img src="../assets/img/testimonial-2.jpg" alt="Romina Serbin, Electricista" />
                  <h3>Romina Serbin</h3>
                  <h4>Programador</h4>
                  <p>
                    Su horario y ubicación son excelentes para trabajador@s como yo
                  </p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="testimonial-item">
                  <img src="../assets/img/testimonial-3.jpg" alt="Gabriela Marquez, Niñera" />
                  <h3>Gabriela Marquez</h3>
                  <h4>Niñera</h4>
                  <p>
                    Siempre han sabido solucionar problemas con productos nuevos o arreglando los viejos
                  </p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="testimonial-item">
                  <img src="../assets/img/testimonial-4.jpg" alt="Maximiliano Perez, Albañil" />
                  <h3>Maximiliano Perez</h3>
                  <h4>Albañil</h4>
                  <p>
                    Ambiente amigable y cálida atención
                  </p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="testimonial-item">
                  <img src="../assets/img/testimonial-5.jpg" alt="Bruno Marinez, Ingeniero" />
                  <h3>Bruno Martinez</h3>
                  <h4>Ingeniero</h4>
                  <p>
                    Los mejores productos para los arreglos del hogar
                  </p>
                </div>
              </ng-template>
            </owl-carousel-o>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->

    

