<!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h3>Equipo</h3>
          <p>Nuestro equipo está conformado por un grupo de mujeres capacitadas para ofrecer el mejor servicio</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="../assets/img/team-1.jpg" class="img-fluid" alt="Mirta Wernli">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Mirta Wernli</h4>
                  <span>Tareas administrativas</span>
                  <div class="social">
                    <!-- <a href=""><i class="fa fa-twitter"></i></a> -->
                    <a href="https://www.facebook.com/mirta.wernli" target="_blank"><i class="fa fa-facebook"></i></a>
                    <!-- <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a> -->
                  </div>
                </div>
              </div>
            </div>
            <h5 class="alineacion-equipo">Mirta Wernli</h5>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="../assets/img/team-2.jpg" class="img-fluid" alt="Elina Cánepa">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Elina Cánepa</h4>
                  <span>Encargada de depósito</span>
                  <div class="social">
                    <a href="https://twitter.com/CanepaEli" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/eli.canepa.9" target="_blank"><i class="fa fa-facebook"></i></a>
                    <!-- <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a> -->
                  </div>
                </div>
              </div>
            </div>
            <h5 class="alineacion-equipo">Elina Cánepa</h5>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="../assets/img/team-3.jpg" class="img-fluid" alt="Evelyn Cánepa">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Evelyn Cánepa</h4>
                  <span>Atención al público y tareas contables</span>
                  <div class="social">
                    <a href="https://twitter.com/Eve_Canepa" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/eve.canepa/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
                    <a href="https://www.linkedin.com/in/evelyn-c%C3%A1nepa-13b1ab264/" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <h5 class="alineacion-equipo">Evelyn Cánepa</h5>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="../assets/img/team-4.jpg" class="img-fluid" alt="Ayelén Salomón">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Ayelén Salomón</h4>
                  <span>Atención al público y control de stock</span>
                  <div class="social">
                    <a href="https://twitter.com/AyelenSalomon6" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/virgianiayelensalomon" target="_blank"><i class="fa fa-facebook"></i></a>
                   <!-- <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>-->
                  </div>
                </div>
              </div>
            </div>
            <h5 class="alineacion-equipo">Ayelén Salomón</h5>
          </div>

        </div>

      </div>
    </section><!-- #blog -->
  
